<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
          "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.tbtf.demo.manager.member.dao.DOMUserDAO">

	<select id="selectUser" parameterType="test.tbtf.demo.manager.member.domain.DOMUser" 
	                           resultType="test.tbtf.demo.manager.member.domain.DOMUser">
SELECT /* DOMUserDAO.selectUser */
        USER_ID            AS userId
       ,USER_NAME          AS userName
       ,USER_CURRENT_EMAIL AS userCurrentEmail
       ,INSERT_USER_ID     AS insertUserId
       ,INSERT_DATE        AS insertDate
       ,UPDATE_USER_ID     AS updateUserId
       ,UPDATE_DATE        AS updateDate
       ,DELETE_YN          AS deleteYn
  FROM  TBL_USER
 WHERE  DELETE_YN = 'N'
   AND  USER_ID = #{userId}

	</select>

	<insert id="insertUser" parameterType="test.tbtf.demo.manager.member.domain.DOMUser">
INSERT /* DOMUserDAO.insertUser */
  INTO  TBL_USER (
 USER_ID
,USER_NAME
,USER_CURRENT_EMAIL
,INSERT_USER_ID
,INSERT_DATE
,UPDATE_USER_ID
,UPDATE_DATE
,DELETE_YN
) VALUES (
 #{userId}
,#{userName}
,#{userCurrentEmail}
,#{insertUserId}
,NOW()
,#{updateUserId}
,NOW()
,'N'
)

	</insert>

	<update id="updateUser" parameterType="test.tbtf.demo.manager.member.domain.DOMUser">
UPDATE /* DOMUserDAO.updateUser */
        TBL_USER
   SET  USER_NAME = #{userName}
       ,USER_CURRENT_EMAIL = #{userCurrentEmail}
       ,UPDATE_USER_ID = #{updateUserId}
       ,UPDATE_DATE = NOW()
 WHERE  DELETE_YN = 'N'
   AND  USER_ID = #{userId}

	</update>

	<update id="deleteUser" parameterType="test.tbtf.demo.manager.member.domain.DOMUser">
UPDATE /* DOMUserDAO.deleteUser */
        TBL_USER
   SET  UPDATE_USER_ID = #{updateUserId}
       ,UPDATE_DATE = NOW()
       ,DELETE_YN = 'Y'
 WHERE  DELETE_YN = 'N'
   AND  USER_ID = #{userId}

	</update>

</mapper>