<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="TRACE_LOGGER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${env.logging.path}/log/demo.manage.TRACE.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="|%-5p|%d{ABSOLUTE}|DEMO|LOCALHOST|DEV|%c{1}:%4L|%m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="|%-5p|%d{ABSOLUTE}|DEMO|LOCALHOST|DEV|%c{1}:%4L|%m%n" />
		</layout>
	</appender>

	<logger name="test.tbtf.demo.manager">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="java.sql.Connection">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="java.sql.PreparedStatement">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework">
		<level value="ERROR"/>
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.mybatis.spring">
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
<!-- OFF < FATAL < ERROR < WARN < INFO < DEBUG < TRACE < ALL -->
		<priority value="DEBUG" />
		<appender-ref ref="TRACE_LOGGER" />
	</root>

</log4j:configuration>